<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RingoFront.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="Default"
    connectionString="server=RINGO\SQLEXPRESS;Integrated security=yes;			 Database=AdministracionRingo2;TrustServerCertificate=True"

    providerName="System.Data.SqilClient"/>
	</connectionStrings>
 <userSettings>
  <RingoFront.Properties.Settings>
   <setting name="TemaSeleccionado" serializeAs="String">
    <value>Ringo</value>
   </setting>
  </RingoFront.Properties.Settings>
 </userSettings>
</configuration>